{% extends "base_layout.html" %}
{% block title %}Home Page{% endblock %}
{% block header %}Home Page{% endblock %}
{% block content %}

<h1>Home</h1>
<p>
    In this web application the user may view all Pokemon up to Generation 6 and their data. 
    The Pokdex displays the Pokemons type and secondary type of they have one, the genration they are from, 
    they are a legendary pokemon. 
    This is for Pokemon lovers to just have fun and explore. You can add Pokemon to Favorites, the Favorites page 
    keeps track of your favorite added Pokemon. You can have a list of all Dragon Pokemon, a list of Legendary Pokemon
    you can make a list of whatever you want.
</p>
<p>
 The website is a work in progress and will be adding more features as time goes and I learn how to make it better or get feedback on how to improve.
</p>

{% endblock %}
