{% extends "base_layout.html" %}
{% block title %}Information Page{% endblock %}
{% block header %}Information Page{% endblock %}
{% block content %}


<h1>Information </h1>
<h3>
    Info PAGE
</h3>









{% endblock %}
